[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = ">=3.2,<3.3"
django-nested-admin = "*"
django-grappelli = "*"
django-debug-toolbar = "*"
django-filter = "*"
python-dotenv = "*"
gunicorn = "*"
django-sass = "*"
django-bulma = "*"
django-allauth = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
