{% extends "catalogue/base.html" %}
{% block title %}Vorteile - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section has-background-primary bg-bubble2">
    <div class="container is-max-widescreen">
      <h1 class="title has-text-white has-text-centered">
        Vorteile des KI-Lösungskataloges
      </h1>
    </div>
    <div class="container is-max-widescreen mt-6">
      <div class="columns is-6 is-variable">
        <div class="column">
          <h2 class="title has-text-white has-text-centered">
            Für Anwender
          </h2>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Zielgerichtetes Suchen von branchenspezifischen KI-Lösungen
              </h3>
              <p>
                Mithilfe der Suchfilter können Sie gezielt Lösungen für Ihre Branche und den entsprechenden Prozess
                finden. Da einige Lösungen noch in den Anfangsschuhen stecken können, gibt der angegebene
                Technology-Readiness-Level (TRL) Aufschluss über den jeweiligen Entwicklungsstand. Setzen Sie auf
                bewährte Branchenlösungen oder beteiligen Sie sich an innovativen Ideen!
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Übersichtliche Beschreibungen
              </h3>
              <p>
                Jede Lösung im Katalog wird anhand eines festgelegten Schemas beschrieben. Konkrete Anforderungen und
                der Nutzen sind direkt ersichtlich. Kommen mehrere Lösungen für Ihr Themenfeld in Frage, lassen sie sich
                nebeneinander vergleichen.
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Fokus auf Intelligente Industrielle Produktion
              </h3>
              <p>
                Alle Lösungen im KI-Lösungskatalog konzentrieren sich auf das Umfeld der intelligenten industriellen
                Produktion. Dies können großflächig eingesetzte Branchenlösungen sein oder neue Entwicklungen von
                StartUps und Forschungseinrichtungen.
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Optimierungspotenziale in eigener Produktion identifizieren
              </h3>
              <p>
                Der Katalog bietet neben Lösungen für konkrete Anliegen auch einen Einstieg in die Entwicklungen der
                intelligenten Produktion. Lernen Sie typische Problemfelder kennen und entdecken Sie
                Einsatzmöglichkeiten zur Optimierung Ihrer Produktion.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Anbieter direkt kontaktieren
              </h3>
              <p>
                Jede Lösung wird unmittelbar von dem entsprechenden Anbieter betreut. Über ein Kontaktformular können
                Sie direkt Kontakt zu dem Ansprechpartner aufbauen. Alternativ bietet die Kommentarfunktion die
                Möglichkeit, Ihre Frage öffentlich zu stellen.
              </p>
            </div>
          </div>
        </div>


        <div class="column">
          <h2 class="title has-text-white has-text-centered">
            Für Anbieter
          </h2>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Kostenfreie Registrierung
              </h3>
              <p>
                Keine langen Wartezeiten und Verifizierungsverfahren - Ihr Angebot ist schnell online! Für die
                Veröffentlichung Ihres Eintrags ist kein Aufnahmeantrag oder Abonnement erforderlich. Nach der
                kostenfreien Registrierung können Sie ihre KI-Lösung direkt eintragen. Diese wird anschließend nach
                kurzer Moderation freigeschaltet.
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Schnelles strukturiertes Eintragen
                der KI-Lösung
              </h3>
              <p>
                Durch eine vorgegebene Struktur können Sie ihre Lösung problemorientiert und umfänglich beschreiben.
                Dies hilft Ihnen bei der Auswahl der wichtigen Kriterien und ermöglicht potenziellen Kunden Ihre
                Lösung gezielt zu finden.
              </p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Nischen finden und besetzen
              </h3>
              <p>
                Competitive Intelligence - Entdecken Sie Konkurrenzprodukte und benennen Sie Ihre eigenen Vorteile!
                Durch klar definierte Anwendungsfelder stechen Sie aus der Masse heraus und entdecken Potenziale für
                Optimierungen. In der Frühphase der Entwicklung können Sie hier zudem unbesetzte Problemfelder gezielt
                ansprechen.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title is-4 has-text-primary mb-2">
                Potentielle Entwicklungs- und
                Kooperationspartner finden
              </h3>
              <p>
                Ihre Lösung steht am Anfang der Entwicklung und Sie suchen Partner in der Industrie oder Forschung?
                Oder stellt Ihre Lösung bereits den Branchenstandard? Über den Technology-Readiness-Level (TRL) wird
                der Entwicklungs- und Erprobungsstand jeder Lösung gekennzeichnet. Dies eröffnet interessierten
                Besuchern einen schnellen Überblick und öffnet die Möglichkeit für frühe Kooperationen in
                interessanten Neuentwicklungen.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}