{% extends "catalogue/base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="card">
            <div class="card-content">
              <p class="title is-3">Kontaktanfrage</p>
              <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="field">
                  <div class="control">
                    <button class="button is-link">Login</button>
                  </div>
                </div>
              </form>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" href="{% url 'catalogue:register' %}">Registrieren</a>
              <a class="card-footer-item" href="{% url 'catalogue:reset' %}">Passwort vergessen?</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}