{% extends "catalogue/base.html" %}
{% block title %}Reset{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="card">
            <div class="card-content">
              <form method="post">
                {% csrf_token %}
                {{ form }}
                <div class="field">
                  <div class="control">
                    <button class="button is-link">Resetlink anfordern</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}