:root {
    --size: 3em;
}

.progress-circle-container {
    text-align: center;
}

.progress-circle {
    font-size: 16px;
    position: relative; /* so that children can be absolutely positioned */
    padding: 0;
    width: var(--size);
    height: var(--size);
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: var(--size);
}

.progress-circle:after {
    border: none;
    position: absolute;
    top: calc(var(--size) * 0.2);
    left: calc(var(--size) * 0.2);
    text-align: center;
    display: block;
    border-radius: 50%;
    width: calc(var(--size) * 0.6);
    height: calc(var(--size) * 0.6);
    background-color: white;
    content: " ";
}

/* Text inside the control */
.progress-circle span {
    position: absolute;
    line-height: var(--size);
    width: var(--size);
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 2;
}

.left-half-clipper {
    /* a round circle */
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    position: absolute; /* needed for clipping */
    clip: rect(0, var(--size), var(--size), calc(var(--size) * 0.5)); /* clips the whole left half*/
}

/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
    clip: rect(auto, auto, auto, auto);
}

.value-bar {
    /*This is an overlayed square, that is made round with the border radius,
    then it is cut to display only the left half, then rotated clockwise
    to escape the outer clipping path.*/
    position: absolute; /*needed for clipping*/
    clip: rect(0, calc(var(--size) * 0.5), var(--size), 0);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: calc(var(--size) * 0.21) solid #53777A; /*The border is 0.35 but making it larger removes visual artifacts */
    /*background-color: #4D642D;*/ /* for debug */
    box-sizing: border-box;

}

/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute; /*needed for clipping*/
    clip: rect(0, var(--size), var(--size), calc(var(--size) * 0.5));
    background-color: #53777A;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

.progress-circle:not(.over50) .first50-bar {
    display: none;
}


/* Progress bar rotation position */
.progress-circle.p1 .value-bar {
    transform: rotate(40deg);
}

.progress-circle.p2 .value-bar {
    transform: rotate(80deg);
}

.progress-circle.p3 .value-bar {
    transform: rotate(120deg);
}

.progress-circle.p4 .value-bar {
    transform: rotate(160deg);
}

.progress-circle.p5 .value-bar {
    transform: rotate(200deg);
}

.progress-circle.p6 .value-bar {
    transform: rotate(240deg);
}

.progress-circle.p7 .value-bar {
    transform: rotate(280deg);
}

.progress-circle.p8 .value-bar {
    transform: rotate(320deg);
}

.progress-circle.p9 .value-bar {
    transform: rotate(360deg);
}