{% extends "catalogue/base.html" %}
{% block title %} {{ page.title }} - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section has-background-primary">
    <div class="container is-max-widescreen">
      <h1 class="title has-text-white has-text-centered">
        {{ post.title }}
      </h1>
    </div>
  </section>
    <section class="section bg-gradient-blue-red pt-0">
        <div class="container is-max-widescreen">
            <div class="card">
                {% if post.title_image %}
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ post.title_image.url }}" alt="title image">
                </figure>
                </div>
                {% endif %}
                <div class="card-content">
                <div class="content">
                    <p class="title">{{ post.title }}</p>
                    <p class="subtitle">{{ post.author }} | {{ post.created}} </p>
                    <div class="content">{{ post.content|safe }}</div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-max-widescreen">
            <div class="columns is-flex-wrap-wrap">
                {% for c in post.components.all %}
                <div class="column is-one-third">
                    {% include "catalogue/includes/component-card.html" with c=c only %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}