{% extends "catalogue/base.html" %}
{% block title %}Blog - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section has-background-primary has-text-white">
    <div class="container is-max-widescreen">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-2 has-text-white">
            IIP-Ecosphere Erfolgsgeschichten
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container is-max-widescreen">
      <div class="row">
        {% for post in object_list %}
          <div class="card mb-4">
            <div class="card-content">
              <p class="title">{{ post.title }}</p>
              <p class="subtitle">{{ post.author }} | {{ post.created }} </p>
              <div class="content">{{ post.content|safe|slice:":600" }}</div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  <a href="{{ post.get_absolute_url }}">Weiterlesen</a>
                </span>
              </p>
            </footer>
          </div>
        {% empty %}
          <p>Noch keine Einträge vorhanden :(</p>
        {% endfor %}
      </div>
    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        {% for page in page_obj.paginator.page_range %}
          {% if page == page_obj.number %}
            <li><a class="pagination-link is-current">{{ page_obj.number }}</a></li>
          {% else %}
            <li><a class="pagination-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endblock %}