{% load verbose_name %}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <h3 class="title is-4">
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </h3>
        <p class="subtitle is-6">
          {{ c.contact_manufacturer }}
        </p>
      </div>
      <div class="media-right">
        {% include "catalogue/includes/trl.html" with component=c only %}
      </div>
    </div>
    <div class="content">
      {{ c.description|linebreaks }}
      {% if c.task_set.all %}
        <h5 class="title is-5 mb-2">{{ c.task_set | verbose_name_plural }}</h5>
        <ul class="mt-2">
          {% for t in c.task_set.all %}
            <li>{{ t.get_name_display }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if c.process_set.all %}
        <h5 class="title is-5 mb-2">{{ c.process_set | verbose_name_plural }}</h5>
        <ul class="mt-2">
          {% for t in c.process_set.all %}
            <li>{{ t.get_name_display }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="level">
        <div class="level-item has-text-centered">
          <a class="button is-rounded is-primary is-center" href="{{ c.get_absolute_url }}">
            Entdecken
          </a>
        </div>
        {% if showAdd %}
        <button
          id="addComponent"
          class="button is-light"
          style="position: absolute; right: 0; bottom: 0;"
          hx-post="{% url 'catalogue:edit_cart' c.id %}"
          hx-target="#shopping_card"
          hx-swap="innerHTML"
        >
          <span>
            <i class="fas fa-plus-circle"></i>
          </span>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>