{% load filters %}
{% load field_helpers %}
{% field_verbose_name component field as title %}
{% field_value component field as value %}
{% field_is_html component field as html %}
{% if value %}
  <div class="columns">
    <div class="column is-one-third">
      <h4 class="subtitle is-5 has-text-weight-bold">{{ title }}</h4>
    </div>
    <div class="column">
      {% if value|is_list %}
        <ul>
          {% for x in value %}
            <li>{{ x }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="content">
          {% if html %}
            {{ value|safe }}
          {% else %}
            {{ value|linebreaks }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
