{% load verbose_name %}
<div class="card">
  <div class="card-content">
    <div class="content">
      {% include "catalogue/includes/trl.html" with component=c only %}
      <p class="title is-3">
        <a href="{% url 'catalogue:detail' c.id %}">{{ c.basedata.name }}</a>
      </p>
      <p class="subtitle is-5">
        {{ c.source.manufacturer }}
      </p>
      <p>{{ c.basedata.description }}</p>
      {% if c.basedata.task_set %}
        <p class="title is-6">{{ c.basedata.task_set | verbose_name_plural }}</p>
        <ul>
          {% for t in c.basedata.task_set.all %}
            <li>{{ t.get_name_display }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if c.applicationprofile.process_set %}
        <p class="title is-6">{{ c.applicationprofile.process_set | verbose_name_plural }}</p>
        <ul>
          {% for t in c.applicationprofile.process_set.all %}
            <li>{{ t.get_name_display }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="level">
        <div class="level-item has-text-centered">
          <a class="button is-rounded is-primary is-center" href="{% url 'catalogue:detail' c.id %}">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>