{% extends "catalogue/base.html" %}
{% block body %}
  {% if messages %}
    <section class="section">
      <div class="container">
        {% for message in messages %}
          <div class="notification is-info">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% if form.non_field_errors %}
    <section class="section">
      <div class="container">
        <div class="notification is-danger">
          <button class="delete"></button>
          {{ form.non_field_errors }}
        </div>
      </div>
    </section>
  {% endif %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="card">
            <div class="card-content">
              <h1 class="title is-3">{% block title %}{% endblock %}</h1>
              {% block card %}{% endblock %}
            </div>
            <footer class="card-footer">
              {% block card-footer %}{% endblock %}
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
{% endblock %}