{% extends "account/base_card.html" %}
{% load bulma_tags %}
{% block title %}Reset{% endblock %}
{% block card %}
  <p>Sie haben Ihr Passwort vergessen? Geben Sie hier Ihre eMail Adresse an und wir senden Ihnen einen Link,
    unter dem Sie Ihr Passwort zurücksetzen können.</p>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form|bulma }}
    <div class="field">
      <div class="control">
        <button class="button is-rounded is-link">Link anfordern</button>
      </div>
    </div>
  </form>
{% endblock %}