@charset "utf-8";
$blue: #2a6989;
$grey-bg: #f6f8fa;
$yellow: #ffbe0b;

$primary: $blue;
$primary-light: $grey-bg;
$info: $yellow;
$body-background-color: $grey-bg;
$footer-background-color: $blue;

@import "bulma/bulma.sass";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.navbar {
  &.transparent {
    background-color: transparent;
    background-image: none;
  }
}

#logo {
  filter: brightness(1000%);
}

.input {
  border: 1px solid $grey-lighter;
}

.clicky {
  pointer-events: unset !important;
  cursor: pointer;
}

.bg-bubble-gradient,
.bg-bubble {
  background-repeat: no-repeat;
  background-color: $blue;
}

.bg-bubble-gradient {
  //background-image: linear-gradient(to bottom, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
  background-image: url(/static/catalogue/images/bubble-gradient.svg);
  background-size: 100%;
}

.bg-bubble {
  background-image: url(/static/catalogue/images/bubble-background.svg);
  background-size: 100%;
}

.bg-gradient-blue-red {
  background-image: linear-gradient(to top, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
}

.bg-gradient-red-blue {
  background-image: linear-gradient(to bottom, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
}

.pull-nav {
  margin-top: -3.25rem;
}

@media screen and (min-width: 1024px) {
  .pull-nav {
    margin-top: -5.25rem;
  }
}

.folded ul {
  height: 150px;
  overflow: hidden;
}

.folder-down {
  box-shadow: $blue 0 -15px 40px 15px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: visible;
}

/* tabs on details page */
.tabs ul {
  border-bottom: none;
}

.tabs li {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

div.control.is-size-7 input[type="checkbox"] {
  // fix checkbox alignment
  vertical-align: text-bottom;
}