@charset "utf-8";
$white: #fff;
$blue: #2a6989;
$grey-bg: #f6f8fa;
$yellow: #ffbe0b;
$black: #253029;

$primary: $blue;
$primary-light: $grey-bg;
$primary-dark: $black;
$info: $yellow;
$body-background-color: $grey-bg;
$footer-background-color: $blue;


@import "bulma/bulma.sass";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.navbar {
  &.transparent {
    background-color: transparent;
    background-image: none;
  }
}

.input {
  border: 1px solid $grey-lighter;
}

.title {
  font-family: Eczar, $family-sans-serif;
}

.clicky {
  pointer-events: unset !important;
  cursor: pointer;
}

.bg-bubble-gradient,
.bg-bubble {
  background-repeat: no-repeat;
  background-color: $blue;
}

.bg-bubble-gradient {
  //background-image: linear-gradient(to bottom, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
  background-image: url(/static/catalogue/images/bubble-gradient.svg);
  background-size: 100%;
}

.bg-bubble {
  background-image: url(/static/catalogue/images/bubble-background.svg);
  background-size: 100%;
}

.bg-gradient-blue-red {
  background-image: linear-gradient(to top, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
}

.bg-gradient-red-blue {
  background-image: linear-gradient(to bottom, #fd6a60 -19%, #c76a7e 33%, #2a6989 100%);
}

/* START */
#start-search-bar {
  .control .input {
    height: 3.5em;
  }

  .control .icon {
    height: 3.5em;
    width: 3.5em;
  }
}

/* pull section background upward into nav on frontpage */
.pull-nav {
  margin-top: -3.25rem;
}

@media screen and (min-width: 1024px) {
  .pull-nav {
    margin-top: -5.25rem;
  }
}

/* folded search facets on frontpage */
.folded ul {
  height: 150px;
  overflow: hidden;
}

.folder-down {
  box-shadow: $blue 0 -15px 40px 15px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: visible;
}

/* dropdown buttons */
.button.drop-down-button .icon.is-right {
  // text on left, icon on right
  margin-left: auto;
}

.button.drop-down-button.is-active .icon.drop-down-icon i:first-child,
.button.drop-down-button:not(.is-active) .icon.drop-down-icon i:last-child {
  // swap icons
  display: none;
}

.button.drop-down-button.is-active {
  background-color: #fff;
  border-color: #fff;
  color: #0a0a0a;
}

.drop-down-menu {
  display: none;

  &.is-active {
    display: block;
  }
}


/* tabs on details page */
.tabs ul {
  border-bottom: none;
}

.tabs li {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

/* checkbox lists */
div.control.is-size-7 input[type="checkbox"] {
  // fix checkbox alignment
  vertical-align: text-bottom;
}

div.control li {
  margin-bottom: 0.25rem;
}

/* feedback button */
.feedback-button {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  position: fixed;
  right: 0;
  top: 70%;
  z-index: 100;
}

/* compare button */
.compare-button {
  position: fixed;
  right:    20px;
  bottom:   0;
  margin: 20px;
  z-index: 100;
}


.bellnumbers {
  font-size:15px;
  background-color:#f11382;
  width:20px;
  line-height: 20px;
  text-align: center;
  color:#fff;
  z-index: 2;
  border-radius: 20px;
  position: absolute;
  left:    -5px;
  top:   -5px;
}

.addButtonDetail {
  position: fixed;
  right:    0px;
  bottom:   0px;
  margin: 20px;
  z-index: 101;
}

/* show add button when hover on component card */
/*
.card #addComponent {
  visibility: hidden;
}

.card:hover #addComponent {
  visibility: visible;
}
*/
