{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'catalogue/bulma.css' %}">
</head>
<body>
<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'catalogue:index' %}">
      <img alt="IIP Ecosphere" id="logo" src="{% static 'Logo.svg' %}">
      <span class="ml-2">IIP-Ecosphere</span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'catalogue:index' %}">Index</a>
      <a class="navbar-item" href="{% url 'catalogue:search' %}">Search</a>
      <a class="navbar-item" href="{% url 'catalogue:login' %}">Login</a>
    </div>
  </div>
</nav>
{% block body %}{% endblock %}
<footer class="footer has-background-primary has-text-white">
  <div class="content has-text-centered">
    <p>
      IIP Ecosphere Footer
    </p>
  </div>
</footer>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
{% block script %}{% endblock %}
</html>