{% load static %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ request.site.name }} - IIP-Ecosphere{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'webfonts/LeagueSpartan/font.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/fas.min.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/progress-bar/css-circular-prog-bar.css' %}">
  <link rel="icon" href="{% static 'catalogue/favicon/favicon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'catalogue/favicon/apple-touch-icon.png' %}"/>
  <link rel="manifest" href="{% static 'catalogue/favicon/site.webmanifest' %}"/>
  <script src="{% static 'catalogue/js/htmx.min.js' %}"></script>
</head>
<body>
<nav class="navbar is-spaced is-primary {% if request.path == "/" %}transparent{% endif %}"
     role="navigation" aria-label="main navigation">
  <div class="container is-max-widescreen">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'catalogue:index' %}">
        <img alt="IIP Ecosphere" id="logo" src="{% static 'catalogue/logo/iip_white.svg' %}">
        <span class="ml-3">IIP-Ecosphere</span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'catalogue:index' %}">Start</a>
        <a class="navbar-item" href="{% url 'catalogue:search' %}">Suche</a>
        <a class="navbar-item" href="{% url 'cms:blog' %}">Blog</a>
        {% get_top_menu_items "top" as menu %}
        {% for item in menu %}
          {% get_child_items item as childs %}
          {% if childs %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ item.title }}
            </a>
            <div class="navbar-dropdown">
              {% for child in childs %}
                <a class="navbar-item" href="{{ child.get_absolute_url }}">{{ child.title }}</a>
              {% endfor %}
            </div>
          </div>
          {% else %}
            <a class="navbar-item" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Account
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'account_email' %}">E-Mail-Adressen</a>
              <a class="navbar-item" href="{% url 'account_change_password' %}">Passwort</a>
              <a class="navbar-item" href="{% url 'socialaccount_connections' %}">Konto-Verknüpfungen</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'account_logout' %}">Abmelden</a>
            </div>
          </div>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light is-small" href="{% url 'admin:index' %}">Verwaltung</a>
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="{% url 'account_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer has-text-white">
  <div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-6">
        <div class="content">
          <h5 class="has-text-white">Kontakt</h5>
          <p>
            Forschungszentrum L3S<br>
            Leibniz Universität Hannover<br>
            Appelstraße 9a<br>
            30167 Hannover<br>
            Dr. Claudia Niederée<br>
            Tel.: +49 511 762 17713<br>
            E-Mail: iip-ecosphere@l3s.de
          </p>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h5 class="has-text-white">Menü</h5>
          <p>
            {% get_top_menu_items "bottom" as menu %}
            {% for item in menu %}
              <a class="has-text-white" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
<script>
  // navbar burger menu sidebar action
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
          // remove transparency from navbar
          document.querySelector('nav.navbar').classList.toggle("transparent");
        });
      });
    }
  });

  // CSRF Token for htmx
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
{% block script %}{% endblock %}
</html>