{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Eczar">
  <link rel="stylesheet" href="{% static 'catalogue/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/fas.min.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/util.css' %}">
  <link rel="stylesheet" href="{% static 'catalogue/progress-bar/css-circular-prog-bar.css' %}">
</head>
<body>
<script src="https://unpkg.com/htmx.org@1.4.1"></script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
<nav class="navbar is-spaced is-primary {% if request.path == "/" %}transparent{% endif %}"
     role="navigation" aria-label="main navigation">
  <div class="container is-max-widescreen">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'catalogue:index' %}">
        <img alt="IIP Ecosphere" id="logo" src="{% static 'catalogue/logo/iip.svg' %}">
        <span class="ml-2">IIP-Ecosphere</span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'catalogue:index' %}">Start</a>
        <a class="navbar-item" href="{% url 'catalogue:search' %}">Suche</a>
        <a class="navbar-item" href="{% url 'catalogue:compare' %}">Vergleichen</a>
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Account
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'account_email' %}">E-Mail-Adressen</a>
              <a class="navbar-item" href="{% url 'account_change_password' %}">Passwort</a>
              <a class="navbar-item" href="{% url 'socialaccount_connections' %}">Konto-Verknüpfungen</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'account_logout' %}">Abmelden</a>
            </div>
          </div>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light is-small" href="{% url 'admin:index' %}">Verwaltung</a>
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="{% url 'account_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer has-text-white">
  <div class="content has-text-centered">
    <p>
      IIP Ecosphere Footer
    </p>
  </div>
</footer>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
          // remove transparency from navbar
          document.querySelector('nav.navbar').classList.toggle("transparent");
        });
      });
    }
  });
</script>
{% block script %}{% endblock %}
</html>