{% extends "catalogue/base.html" %}
{% load bulma_tags %}
{% load list_fields %}
{% load verbose_name %}
{% block title %}Vergleich - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section has-background-primary has-text-white">
    <div class="container is-max-widescreen">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-3 has-text-white">
            KI Lösungen Vergleich
          </h1>
          <h2 class="subtitle is-5 has-text-white">
            Hier können Sie Ihre ausgewählten Lösungen im Direktvergleich sehen
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container is-max-widescreen is-align-content-center">
      {% if filter.is_valid %}
        <div class="level">
          <div class="level-item table-container">
            <table class="table is-striped is-hoverable has-text-centered">
              <thead>
              <tr>
                <th></th>
                {% for c in components %}
                  <th><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for field in components.0.get_basedata.1 %}
                {% get_verbose_field_name components.0 field as name %}
                <tr>
                  <th>{{ name }}</th>
                  {% for c in components %}
                    <td>{% get_field c field %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for field in components.0.get_application_profile.1 %}
                {% get_verbose_field_name components.0 field as name %}
                <tr>
                  <th>{{ name }}</th>
                  {% for c in components %}
                    <td>{% get_field c field %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for field in components.0.get_use.1 %}
                {% get_verbose_field_name components.0 field as name %}
                <tr>
                  <th>{{ name }}</th>
                  {% for c in components %}
                    <td>{% get_field c field %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for field in components.0.get_requirements.1 %}
                {% get_verbose_field_name components.0 field as name %}
                <tr>
                  <th>{{ name }}</th>
                  {% for c in components %}
                    <td>{% get_field c field %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for field in components.0.get_technical_specification.1 %}
                {% get_verbose_field_name components.0 field as name %}
                <tr>
                  <th>{{ name }}</th>
                  {% for c in components %}
                    <td>{% get_field c field %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <div class="column has-text-centered">
          <p class="mt-6">Keine Lösungen zum Vergleich ausgewählt.</p>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
