{% extends "catalogue/base.html" %}
{% load verbose_name %}
{% load list_fields %}
{% block title %}Komponente - {{ component.basedata.name }}{% endblock %}
{% block header %}<h1>{{ component.basedata.name }}</h1>{% endblock %}
{% block body %}
  <main>
    <article>
      <h2>{{ component.basedata | verbose_name }}</h2>
      {% list_fields component.basedata as base_data %}
      {% for field, val in base_data %}
        <label>{{ field }}:</label>
        <p>{{ val }}</p>
      {% endfor %}
      <label>Tasks:</label>
      <ul>
        {% for t in component.basedata.task_set.all %}
          <li>{{ t.get_name_display }}</li>
        {% endfor %}
      </ul>
    </article>
    {% if component.applicationprofile %}
      <hr>
      <article>
        <h2>{{ component.applicationprofile | verbose_name }}</h2>
        {% list_fields component.applicationprofile as ap %}
        {% for field, val in ap %}
          <label>{{ field }}:</label>
          <p>{{ val }}</p>
        {% endfor %}
        <label>Branche (anwendbar):</label>
        <ul>
          {% for b in component.applicationprofile.branchapplicable_set.all %}
            <li>{{ b.get_name_display }}</li>
          {% endfor %}
        </ul>
        <label>Branche (erprobt):</label>
        <ul>
          {% for b in component.applicationprofile.branchproven_set.all %}
            <li>{{ b.get_name_display }}</li>
          {% endfor %}
        </ul>
      </article>
    {% endif %}
    {% if component.use %}
      <hr>
      <article>
        <h2>{{ component.use | verbose_name }}</h2>
        {% list_fields component.use as ap %}
        {% for field, val in ap %}
          <label>{{ field }}:</label>
          <p>{{ val }}</p>
        {% endfor %}
      </article>
      <hr>
      <article>
        <h2>{{ component.requirements | verbose_name }}</h2>
        {% list_fields component.requirements as ap %}
        {% for field, val in ap %}
          <label>{{ field }}:</label>
          <p>{{ val }}</p>
        {% endfor %}
      </article>
    {% endif %}
    {% if component.technicalspecification %}
      <hr>
      <article>
        <h2>{{ component.technicalspecification | verbose_name }}</h2>
        {% list_fields component.technicalspecification as ap %}
        {% for field, val in ap %}
          <label>{{ field }}:</label>
          <p>{{ val }}</p>
        {% endfor %}
      </article>
    {% endif %}
    {% if component.source %}
      <hr>
      <article>
        <h2>{{ component.source | verbose_name }}</h2>
        {% list_fields component.source as ap %}
        {% for field, val in ap %}
          <label>{{ field }}:</label>
          <p>{{ val }}</p>
        {% endfor %}
      </article>
    {% endif %}
    <hr>
    <section>
      <header><h2>Kontaktanfrage</h2></header>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Senden</button>
      </form>
    </section>
  </main>
{% endblock %}