{% extends "catalogue/base.html" %}
{% block title %}Impressum  - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section has-background-primary">
    <div class="container is-max-widescreen">
      <h1 class="title has-text-white has-text-centered">
        Impressum
      </h1>
    </div>
  </section>
  <section class="section">
    <div class="container is-max-widescreen">
      <div class="columns">
        <div class="column is-half content">
          <h2>Forschungszentrum L3S</h2>
          <p>
            Appelstraße 9a<br>
            30167 Hannover<br>
            Tel. +49 511 762 – 17715<br>
            Fax +49 511 762 – 17779<br>
            Vertreten durch:<br>
            Prof. Dr. Wolfgang Nejdl (Geschäftsführender Direktor)<br>
            Dr. Claudia Niederée (Geschäftsführerin)
          </p>
        </div>
        <div class="column is-half content">
          <h2>Gottfried Wilhelm Leibniz Universität Hannover</h2>
          <p>
            Welfengarten 1<br>
            30167 Hannover<br>
            Tel. +49 511 762 - 0<br>
            Fax +49 511 762 - 3456<br>
            Vertreten durch:<br>
            Präsident der Leibniz Universität Hannover
          </p>
        </div>
      </div>
      <div class="content">
        <p>
          Die Gottfried Wilhelm Leibniz Universität Hannover ist eine Körperschaft des öffentlichen Rechts. Sie wird
          durch den Präsidenten Prof. Dr. iur. Volker Epping gesetzlich vertreten.
        </p>
        <p>
          Zuständige Aufsichtsbehörde: Niedersächsisches Ministerium für Wissenschaft und Kultur, Leibnizufer 9, 30169
          Hannover
        </p>
        <p>
          Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz: DE 811 245 527
        </p>
        <p>
          Die inhaltlich verantwortlichen Personen einzelner journalistisch-redaktioneller Texte gemäß § 6 MDStV sind
          unter dem jeweiligen Beitrag auf der Seite selbst genannt. Für alle anderen Inhalte sind Dr. Claudia Niederée
          und Prof. Dr. Wolfgang Nejdl (Adressen siehe oben) verantwortlich.
        </p>
        <h3>
          Technische Realisierung
        </h3>
        <p>Forschungszentrum L3S / IT Team</p>
        <h3>
          Design
        </h3>
        <p>KIProtect GmbH</p>
        <h2>Haftungsausschluss</h2>
        <p>
          Das Layout der Homepage, die verwendeten Grafiken sowie die sonstigen Inhalte sind urheberrechtlich geschützt.
        </p>
        <h3>Verwendung von Cookies</h3>
        <p>
          Die Webseite verwendet sogenannte “Cookies”, das sind kleine Textdateien, die auf Ihrem Computer gespeichert
          werden und die eine Analyse der Benutzung der Internetseiten durch Sie ermöglichen. Diese “Sitzungs-Cookies”
          werden nur temporär auf Ihrem Computer gespeichert, sobald der Webbrowser geschlossen wird, werden diese
          wieder
          gelöscht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung unseres Internetangebotes werden
          auf
          einem Server der Leibniz Universität Hannover gespeichert und ausschließlich hausintern ausgewertet. Erfasste
          Daten werden nicht an Dritte weitergegeben und dienen der Identifikation und Verbesserung relevanter Inhalte
          unseres Internetangebotes.
        </p>
        <p>
          Durch die Nutzung dieses Internetangebots erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten
          in
          der zuvor beschriebenen Art und Weise und nur zu dem zuvor benannten Zweck einverstanden.
        </p>
        <h3>Inhalt des Onlineangebotes</h3>
        <p>
          Der Betreiber übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der
          bereitgestellten Informationen. Haftungsansprüche gegen den Betreiber, welche sich auf Schäden materieller
          oder
          ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die
          Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen,
          sofern seitens des Betreibers kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
        </p>
        <p>
          Alle Angebote sind freibleibend und unverbindlich. Der Betreiber behält es sich ausdrücklich vor, Teile der
          Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
          Veröffentlichung zeitweise oder endgültig einzustellen.
        </p>
        <p>
          Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Betreiber keine Haftung für die Inhalte externer
          Links.
          Für den Inhalt der verlinkten Seiten, auch die der Universitätsverwaltung, der Zentralen Einrichtungen,
          Fakultäten, Institute usw., sind ausschließlich deren Betreiber verantwortlich.
        </p>
        <h3>Verweise und Links</h3>
        <p>
          Bei direkten oder indirekten Verweisen auf fremde Webseiten (Hyperlinks), die außerhalb des
          Verantwortungsbereiches des Betreibers liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in
          Kraft treten, in dem der Betreiber von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar
          wäre,
          die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
        </p>
        <p>
          Der Betreiber erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den
          zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die
          Urheberschaft der gelinkten / verknüpften Seiten hat der Betreiber keinerlei Einfluss. Deshalb distanziert er
          sich hiermit ausdrücklich von allen Inhalten aller gelinkten / verknüpften Seiten, die nach der Linksetzung
          verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und
          Verweise sowie für Fremdeinträge in vom Betreiber eingerichteten Gästebüchern, Diskussionsforen und
          Mailinglisten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der
          Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der
          Seite,
          auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich
          verweist.
        </p>
        <h3>Urheber- und Kennzeichenrecht</h3>
        <p>
          Der Betreiber ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
          Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und
          Texte
          zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle
          innerhalb
          des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen
          uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen
          eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass
          Markenzeichen
          nicht durch Rechte Dritter geschützt sind. Das Copyright für veröffentlichte, vom Betreiber selbst erstellte
          Objekte bleibt allein beim Betreiber. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente,
          Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche
          Zustimmung des Betreibers nicht gestattet.
        </p>
        <h3>Datenschutz</h3>
        <p>
          Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten
          (E-Mailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf
          ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist – soweit
          technisch möglich und zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder
          eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben
          veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie E-Mailadressen durch Dritte
          zur
          Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen
          die Versender von sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.
        </p>
        <h3>Rechtswirksamkeit dieses Haftungsausschlusses</h3>
        <p>
          Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht
          vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit
          davon unberührt.
        </p>
      </div>
    </div>
  </section>
{% endblock %}