{% extends "catalogue/base.html" %}
{% load static %}
{% load bulma_tags %}
{% block body %}
  <section class="section is-medium bg-bubble pull-nav">
    <div class="container is-max-widescreen">
      <div class="columns mt-6 mb-6">
        <div class="column is-half">
          <p class="title is-1 has-text-white is-spaced">
            Finden Sie die richtige KI Unterstützung für Ihre Produktion
          </p>
          <p class="subtitle is-4 has-text-white">
            Holen Sie sich Lösungen, die speziell für Ihre Branche entwickelt wurden und mit den Produkten eingesetzt
            werden können, die Sie bereits nutzen
          </p>
        </div>
      </div>

      <form method="get" name="searchForm" action="{% url 'catalogue:search' %}">
        {% with filter.form as form %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <div class="columns">
            <div id="start-search-bar" class="column is-half is-offset-one-quarter mb-2">
              {% for field in form.visible_fields %}
                {% if field|is_input %}
                  {% include "catalogue/includes/searchbar.html" with name=field.name only %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="columns">
            {% for field in form.visible_fields %}
              {% if not field|is_input %}
                <div class="column">
                  <label class="label has-text-white" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="control is-size-7 has-text-white folded">
                    {{ field }}
                    <div class="folder-down has-text-white has-text-centered">
                      <span class="icon">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-down"></i>
                      </span>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endwith %}
      </form>
    </div>
  </section>

  <section class="section bg-gradient-blue-cyan pt-0">
    <div class="container is-max-widescreen">
      <h2 class="title is-3 has-text-white has-text-centered">
        Ausgewählte KI Lösungen
      </h2>
      <div class="columns is-flex-wrap-wrap">
        {% for c in components %}
          <div class="column is-one-third">
            {% include "catalogue/includes/component-card.html" with c=c only %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section has-background-white">
    <nav class="level">
      <a class="level-item has-text-centered" href="https://www.iip-ecosphere.eu">
        <img src="{% static 'catalogue/logo/Logo_IIP-Ecosphere.svg' %}" style="height: 150px;" alt="IIP-Ecosphere">
      </a>
      <a class="level-item has-text-centered" href="https://l3s.de">
        <img src="{% static 'catalogue/logo/L3S_Logo.jpg' %}" style="height: 150px;"
             alt="L3S Research Center">
      </a>
      <a class="level-item has-text-centered"
         href="https://www.bmwi.de/Redaktion/DE/Schlaglichter-der-Wirtschaftspolitik/2021/08/12-was-bieten-industrial-internet-of-things-plattformen.html">
        <img src="{% static 'catalogue/logo/bmwi.png' %}" style="height: 150px;" alt="BMWi">
      </a>
    </nav>
  </section>
{% endblock %}
{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // unfold search facets
      const foldersDown = document.querySelectorAll("div.folder-down");
      for (let i = 0; i < foldersDown.length; i++) {
        foldersDown[i].addEventListener('click', function (e) {
          e.currentTarget.parentNode.classList.toggle("folded");
          e.currentTarget.classList.toggle("is-hidden");
        });
      }
    })
  </script>
{% endblock %}