{% extends "catalogue/base.html" %}
{% load verbose_name %}
{% block title %}Catalogue Index{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns is-flex-wrap-wrap">
        {% for c in components %}
          <div class="column is-one-third">
            {% include "catalogue/includes/component-card.html" with c=c only %}
          </div>
        {% empty %}
          <p>No Components are available.</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}