{% extends "catalogue/base.html" %}
{% load static %}
{% load verbose_name %}
{% load bulma_tags %}
{% block title %}Catalogue Index{% endblock %}
{% block body %}
  <section class="section is-medium bg-bubble pull-nav">
    <div class="container is-max-widescreen">
      <div class="columns mt-6 mb-6">
        <div class="column is-half">
          <p class="title is-1 has-text-white is-spaced">
            Finden Sie die richtige KI Unterstützung für Ihre Produktion
          </p>
          <p class="subtitle is-4 has-text-white">
            Holen Sie sich Lösung, die speziell für Ihre Brache entwickelt wurden und mit den Produkten eingesetzt
            werden können, die Sie bereits nutzen
          </p>
        </div>
      </div>
      <form method="get" name="searchForm" action="{% url 'catalogue:search' %}">
        {% with filter.form as form %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <div class="columns">
            <div class="column is-one-third is-offset-one-third mb-1">
              {% for field in form.visible_fields %}
                {% if field|is_input %}
                  <p class="control has-icons-right">
                    <input class="input is-rounded" name="{{ field.name }}" type="text"
                           placeholder="Katalog durchsuchen">
                    <span class="icon is-small is-right clicky" onclick="document.searchForm.submit()">
                      <img src="{% static 'catalogue/images/search.svg' %}" style="padding: 4px"/>
                    </span>
                  </p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="columns">
            {% for field in form.visible_fields %}
              {% if not field|is_input %}
                <div class="column">
                  <label class="label has-text-white" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="control is-size-7 has-text-white folded">
                    {{ field }}
                    <div class="folder-down has-text-white has-text-centered">
                      <span class="icon">
                        <i class="fas fa-chevron-down"></i><i class="fas fa-chevron-down"></i>
                      </span>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endwith %}
      </form>
    </div>
  </section>
  <section class="section bg-gradient-blue-red">
    <div class="container is-max-widescreen">
      <div class="columns is-flex-wrap-wrap">
        {% for c in components %}
          <div class="column is-one-third">
            {% include "catalogue/includes/component-card.html" with c=c only %}
          </div>
        {% empty %}
          <p>No Components are available.</p>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section has-background-white">
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="{% static 'catalogue/logo/Logo_IIP-Ecosphere.svg' %}" style="height: 140px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="{% static 'catalogue/logo/L3S_Logo_NEU_small.jpg' %}" style="height: 130px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="{% static 'catalogue/logo/bmwi.png' %}" style="height: 150px;">
      </p>
    </nav>
  </section>
{% endblock %}
{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // unfold search facets
      const foldersDown = document.querySelectorAll('div.folder-down');
      for (let i = 0; i < foldersDown.length; i++) {
        foldersDown[i].addEventListener('click', function (e) {
          e.target.parentNode.classList.toggle("folded");
          e.target.classList.toggle("is-hidden");
        });
      }
    })
  </script>
{% endblock %}