{% extends "catalogue/base.html" %}
{% load bulma_tags %}
{% block title %}Katalog - {{ block.super }}{% endblock %}
{% block body %}
  <section class="section pb-0 bg-bubble2">
    <div class="columns is-flex-wrap-wrap">
      <div class="column is-full">
        <div class="columns">
          <div class="column is-one-third is-offset-one-third mb-6">
            <h1 class="title is-3 has-text-white has-text-centered">
              KI Lösungskatalog
            </h1>
            {% include "catalogue/includes/searchbar.html" %}
          </div>
        </div>
      </div>

      <div class="column is-half-tablet is-one-quarter-desktop is-one-fifth-widescreen has-background-primary-light">
        <form method="get" name="searchForm">
          {% with filter.form as form %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              {% if field|is_input %}
                {{ field.as_hidden }}
              {% else %}
                <button class="button is-outlined mb-2 is-fullwidth drop-down-button" type="button"
                        aria-label="menu" aria-expanded="false" data-target="{{ field.html_name }}dropdown">
                  <span>{{ field.label }}</span>
                  <span class="icon is-right drop-down-icon">
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                  </span>
                </button>
                <div class="drop-down-menu mb-4 ml-2" id="{{ field.html_name }}dropdown">
                  <div class="field">
                    <div class="control is-size-7 has-text-primary-dark">
                      {{ field }}
                    </div>
                  </div>
                </div>
                <div class="tags mb-1">
                  {% for id, name in field.field.choices %}
                    {% if id|stringformat:"s" in field.value %}
                      <span class="tag has-background-info is-rounded" title="{{ name }}">
                        {{ name|truncatechars:35 }}
                        <button type="button" value="id_{{ field.name }}_{{ forloop.counter0 }}"
                                class="delete is-small"></button>
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </form>
      </div>

      <div class="column pb-6 has-background-primary-light">
        <div class="container">
          <div class="columns is-flex-wrap-wrap">
            {% for c in components %}
              <div class="column is-half-desktop is-one-third-fullhd">
                {% include "catalogue/includes/component-card.html" with c=c showAdd=True only %}
              </div>
            {% empty %}
              <div class="column has-text-centered">
                <p class="mt-6">Keine Ergebnisse gefunden.</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="feedbackModal"></div>
    <button class="button is-info feedback-button" hx-get="{% url 'catalogue:search_feedback' %}"
            hx-target="#feedbackModal">Feedback
    </button>
    <div
        id="shopping_card"
        hx-trigger="load"
        hx-get="{% url 'catalogue:get_cart' %}"
        hx-target="#shopping_card"
        hx-swap="innerHTML"
    >
    </div>
  </section>
{% endblock %}
{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // copy textfield to hidden
      const input = document.querySelector('input[type="text"]');
      const hiddenInput = document.querySelector('input[type="hidden"]');
      input.value = hiddenInput.value; // load text on page load
      input.addEventListener('input', function copyValue(e) {
          hiddenInput.value = e.target.value;
        }
      );
      // submit on keydown
      input.addEventListener('keydown', function (e) {
        if (e.keyCode === 13) {
          document.searchForm.submit();
        }
      });
      // submit form on checkbox change
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function () {
          document.searchForm.submit();
        });
      }
      // add listener on delete Buttons for unchecking box when clicked
      const deleteButtons = document.querySelectorAll('.tag > .delete');
      for (let i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', function () {
          button = deleteButtons[i];
          checkbox = document.querySelector("#" + button.value);
          checkbox.checked = false;
          document.searchForm.submit();
        });
      }
    });

    document.addEventListener('DOMContentLoaded', () => {
      // dropdown buttons
      const $dropdownButtons = Array.prototype.slice.call(document.querySelectorAll('.drop-down-button'), 0);
      if ($dropdownButtons.length > 0) {
        $dropdownButtons.forEach(el => {
          el.addEventListener('click', () => {
            el.classList.toggle("is-active");
            // Get the target from the "data-target" attribute
            const $target = document.getElementById(el.dataset.target);
            $target.classList.toggle('is-active');
          });
        });
      }
    });

    function closeModal() {
      var container = document.getElementById("feedbackModal");
      container.removeChild(container.childNodes[0]);
    }
  </script>
{% endblock %}