{% extends "catalogue/base.html" %}
{% block title %}Catalogue Search{% endblock %}
{% block header %}<h1>Komponenten Suche</h1>{% endblock %}
{% block body %}
  <main>
    <section>
      <form method="get">
        {% with filter.form as form %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <p>
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </p>
          {% endfor %}
        {% endwith %}
        <input type="submit"/>
      </form>
    </section>
    <section>
      {% for c in components %}
        {% include "catalogue/includes/component-card.html" with c=c only %}
      {% empty %}
        <p>No Components are available.</p>
      {% endfor %}
    </section>
  </main>
{% endblock %}